<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anote</title>
</head>

{% include "header.html" %}

<body>
    <div id="recommendations">
        <div id="top-3-animes">
            <h1>Top 3 Animes</h1>
            {% for recommendation in recommendations.anime_scores[0..3] %}
            <a href="https://myanimelist.net/anime/{{ recommendation.0.id }}">
                <div class="anime-card">
                    <img src="{{ recommendation.0.main_picture_url }}">
                    <div class="anime-card-overlay">
                        <h4>{{ recommendation.0.romaji_title }}</h4>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        <div id="top-animes-line"></div>
        {% for recommendation in recommendations.anime_scores[3..] %}
        <a href="https://myanimelist.net/anime/{{ recommendation.0.id }}">
            <div class="anime-card">
                <img src="{{ recommendation.0.main_picture_url }}">
                <div class="anime-card-overlay">
                    <h4>{{ recommendation.0.romaji_title }}</h4>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</body>

</html>
